body{
    background-color: rgb(230, 194, 235);
}
h1{
    color: #502121;
    text-align: center;
    text-decoration:transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: #3d2f2f;
    text-align: justify;
    margin: 30px;
    padding: 10px; 
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #3d2f2f;
    border-radius: 10px;
}
img{
    margin: 50px;
    width: 200px;
    height: auto;
    align-items: center;
}
